html, body {
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: "Indie Flower", cursive;
    font-style: inherit;
    font-size: 1.1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 13rem;
    height: 100vh;
    background: #e6e6e6;
    user-select: none;
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.2) inset;
    z-index: 100;
}

.menu-button {
    display: none;
    align-items: center;
    text-align: center;
    margin: 0 0.25rem 0.25rem 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    transition: background 0.2s, transform 0.1s;
}

.menu-button:hover {
    text-decoration: underline;
}

.inner-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-button {
    display: none;
    margin: 0 0.75rem 0 0;
    cursor: pointer;
    text-align: center;
    word-break: break-word;
    font-size: 1.8rem;
    color: #9c9c9c;
    transition: background 0.2s, transform 0.1s;
}

.inner-menu-title {
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toggle {
    margin: 0.75rem;
    position: relative;
    justify-content: center;
    height: 1.8rem;
    width: 3.4rem;             /* фиксированная ширина */
    min-width: 3.4rem;         /* не сжимается */
    max-width: 3.4rem;         /* не расширяется */
    flex-shrink: 0;            /* не сжимается в флексе */
    flex-grow: 0;              /* не растягивается в флексе */
    border-radius: 1rem;
    background: #d2d2d2;
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.15) inset;
    z-index: 1000;
}

.labels {
    position: absolute;
    top: 50%;
    left: 0;
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    font-size: 0.7rem;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1000;
}

.handle {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: left 0.3s ease;
    box-shadow: -5px 0 15px -5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.toggle.active .handle {
    left: 1.6rem;
}

.content {
    flex-grow: 1;
    display: flex;
    padding: 0.75rem 0.75rem 0.75rem 13.75rem; /* с учетом ширины меню*/

}

.story {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 0 1.5rem 1rem 1.5rem;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    transition: background 0.2s, transform 0.1s;
    box-shadow: -5px 3px 16px 2px rgba(0, 0, 0, 0.2);
}

.story h1 {
    text-align: center;
    font-size: 2rem;
}

.sentence {
    display: flex;
    background: #ffffff;
    border: 0.01rem solid #d2d2d2;
    border-left: 0.2rem solid #d2d2d2;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    transition: background 0.2s;
}

.sentence:hover {
    background: #f1f1f1;
}

.sentence p {
    margin: 0.375rem 0;
    line-height: 1.4;

}

.story .es {
    font-weight: bold;
    transition: filter 0.1s ease;
    filter: none;
}

.story .en {

}

body.blur-es .story .es {
    filter: blur(3px);
}

.es.blurred {
    filter: blur(3px);
}

@media (max-width: 767px) {

    html, body {
        flex-direction: column;
    }

    .menu {
        position: fixed;
        max-height: 3.5rem;
        width: 100%;
        box-shadow: none;
    }

    .burger-button {
        display: block;
    }

    .content {
        padding: 3.5rem 0 0 0;
    }

    .story h1 {
        text-align: none;
        font-size: 1.1rem;
    }

    .sentence {
        flex-direction: column;
        align-items: flex-start;
    }
}